.button-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4;
    align-items: center;
    justify-content: center;
}

.yes-button {
    background-color: rgb(128, 229, 128);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.no-button {
    background-color: rgb(220, 87, 87);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Media query for screens smaller than 768px (typical mobile devices) */
@media screen and (max-width: 768px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .yes-button {
        margin-right: 0;
        margin-bottom: 10px;
    }
}